.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 14, 12, 0.828);
  display: none;
}

.overlay.visible {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  z-index: 100;
  border-radius: 1rem;
  overflow: hidden;
  height: 15rem;
  margin: 0 auto;
  max-width: 50rem;
  display: none;
}

.modal.visible {
  display: block;
}

.modal-title {
  background-color: green;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.modal-details {
  padding: 1rem;
}

.modal-text {
  font-size: 1.4rem;
}

.modal-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 7rem;
  height: 3rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: green;
  color: #fff;
}
