.header {
  color: #fff;
  position: relative;
}

.header-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('../../assets/food.jpg');
  height: 25rem;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 69%, 21% 100%, 0 100%, 0 0);
}

.text-box {
  text-align: center;
  position: absolute;
  bottom: -40%;
  left: 50%;
  z-index: 100;
  background-color: #333;
  padding: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 1.5rem;
  transform: translateX(-50%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.text {
  font-size: 1.5rem;
}

.text:not(:last-child) {
  margin-bottom: 2rem;
}
