@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #444;
  background-color: #3f3f3f;
}

button:hover {
  cursor: pointer;
}
